python me 2 tarah ki class hoti he 

builin classes ===> aisi class jo python me build in milti he jaise ki list tuple string

userdefind class ===> aisi class jo user ke dwara banayi jaye

magic method ya dunder function ==>>  this function is special function for use the special power

inko hamesh double under score user kiya jata before and after 


__init__ constructor ka use jab kiya jata he jab hame kissi function ka access user ko nahi dena

self ==> self is refrence variable jo ki object ke instance or method ko acesse kar sakte he 
        self me hamesha object ki memory location pass hoti he

In [28]:
class Atm:
    
    

  # constructor(special function)->superpower ->
    def __init__(self):
        print(id(self))
        self.pin = ''
        self.balance = 0
    #self.menu()

    def menu(self):
        user_input = input("""
        Hi how can I help you?
        1. Press 1 to create pin
        2. Press 2 to change pin
        3. Press 3 to check balance
        4. Press 4 to withdraw
        5. Anything else to exit
        """)
        if user_input == '1':
            self.create_pin()
        elif user_input == '2':
            self.change_pin()
        elif user_input == '3':
            self.check_balance()
        elif user_input == '4':
            self.withdraw()
        else:
            exit()

    def create_pin(self):
        user_pin = input('enter your pin')
        self.pin = user_pin

        user_balance = int(input('enter balance'))
        self.balance = user_balance

        print('pin created successfully')
        self.menu()

    def change_pin():
        old_pin = input('enter old pin')

        if old_pin == self.pin:
            # let him change the pin
            new_pin = input('enter new pin')
            self.pin = new_pin
            print('pin change successful')
            self.menu()
        else:
            print('nai karne de sakta re baba')
            self.menu()  

    def check_balance(self):
        user_pin = input('enter your pin')
        if user_pin == self.pin:
            print('your balance is ',self.balance)
        else:
            print('chal nikal yahan se')

    def withdraw(self):
        user_pin = input('enter the pin')
        if user_pin == self.pin:
            # allow to withdraw
            amount = int(input('enter the amount'))
            if amount <= self.balance:
                self.balance = self.balance - amount
                print('withdrawl successful.balance is',self.balance)
            else:
                print('abe garib')
        else:
            print('sale chor')
            self.menu()

In [29]:
obj1 = Atm()

2333388291088

In [30]:
id(obj1)

2333388291088

In [31]:
obj2 = Atm()

2333388282976

In [32]:
id(obj2)

2333388282976

In [33]:
L = [1,2,3]
len(L) # function ->bcos it is outside the list class
L.append()# method -> bcos it is inside the list class

TypeError: list.append() takes exactly one argument (0 given)

In [34]:
class Temp:

    def __init__(self):
        print('hello')
        print(id(self))

obj = Temp()
print(id(obj))
# print(id(obj.self))
# print(Temp.self)

hello
2333388287440
2333388287440

In [ ]:
3/4*1/2

0.375

__str__ ==> this is specially hota he jiska use kya jata object me string ko output me represent karne ke liye __str__ ka use karte he 

jab me class me __str__ jo without excute karte or fir osse print karvta hu to vo mujhe ek address print karta he 
lekin me jab __str __ function me class me defind karte hu or or osme return karta koi massage or jab me obj ko print karta hu to __str__ outomatic call hota he or osme mojud string output me aa jati he

In [18]:
class Rajendra:
    def __init__(self):
        pass
#         print("object sucessfully called ")

In [19]:
obj=Rajendra()
print(obj)

<__main__.Rajendra object at 0x0000021F4881CC40>

In [20]:
class Rajendra:
    def __init__(self):
        pass
#         print("object sucessfully called ")
        
    def __str__(self):
        return "are bhai ab to update ho "

        
obj=Rajendra()
print(obj)

are bhai ab to update ho

In [38]:
class Fraction:
    # parameterized constructor
    def __init__(self,x,y):
        self.num = x
        self.den = y

    def __str__(self):
        return '{}/{}'.format(self.num,self.den)

    def __add__(self,other):
        new_num = self.num*other.den + other.num*self.den
        new_den = self.den*other.den

        return '{}/{}'.format(new_num,new_den)

    def __sub__(self,other):
        new_num = self.num*other.den - other.num*self.den
        new_den = self.den*other.den

        return '{}/{}'.format(new_num,new_den)

    def __mul__(self,other):
        new_num = self.num*other.num
        new_den = self.den*other.den

        return '{}/{}'.format(new_num,new_den)

    def __truediv__(self,other):
        new_num = self.num*other.den
        new_den = self.den*other.num

        return '{}/{}'.format(new_num,new_den)

    def convert_to_decimal(self):
        return self.num/self.den

In [39]:
fr1 = Fraction(3,4)
fr2 = Fraction(1,2)

In [40]:
fr1.convert_to_decimal()
# 3/4

0.75

In [41]:
print(fr1 + fr2)
print(fr1 - fr2)
print(fr1 * fr2)
print(fr1 / fr2)

10/8
2/8
3/8
6/4

In [42]:
s1={1,2,3}
s2={3,4,5}

s1 + s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [43]:
print(fr1 - fr2)

2/8

In [44]:
class Rajendra:
    def __init__(self,x,y):
        self.num=x
        self.den=y
        print("it is called")
    def __add__(self,other):
        new_num=self.num+ other.num
        new_den=self.den+other.den
        return new_num,new_den

In [45]:
a=Rajendra(10,20)

it is called

In [46]:
b=Rajendra(30,40)

it is called

In [47]:
a+b

(40, 60)